<div class="wrapper h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center">
            <div id="sideNav" class="col-2 h-100">
                <dashboard-side-navbar></dashboard-side-navbar>
            </div>
            <div class="col-10">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <dashboard-top-navbar></dashboard-top-navbar>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <dash-home></dash-home>
                    </div>
                </div>
                <div class="row h-75">
                    <div class="col-6 h-75">
                        <news-feed></news-feed>
                    </div>
                    <div class="col-6 h-75">
                        <div class="row">
                            <div class ="col-6">
                                <watcher></watcher>
                            </div>
                            <div class ="col-6">
                                <watcher></watcher>
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-6">
                                <watcher></watcher>
                            </div>
                            <div class ="col-6">
                                <watcher></watcher>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>